QWidget
{
	color: ${Active.Text}; /* #335777; */
}

QWidget::item:disabled
{
	color: ${Inactive.Text};
/*	color: palette(disabled); */
}

QWidget:disabled
{
	color: ${Active.Text};
/*	color: palette(disabled); */
}

QSplashScreen > QWidget
{
	color: ${Active.BrightText}; /* white; */
	background: transparent;
}

QSplashScreen > QWidget > QLabel 
{
	color: ${Active.Yellowlabel}; /* yellow; */
	background: transparent;
}

QWidget#MainVersionTitleLabel, QWidget#MainVersionLabel
{
	color: ${Active.BrightText}; /* white; */
}

QSplashScreen > QWidget#CopyrightLabel
{
	color: ${Active.Yellowlabel}; /* yellow; */
}


QWidget#BottomFrame
{
	background: ${Active.Background}; /* rgb(230,230,232); */
}

QWidget#RightFrame 
{
	border-left: 1px solid ${Active.Text}; /* #335777; */
}

QWidget#StatusFrame 
{
	border-bottom: 1px solid ${Active.Text}; /* #335777; */
}

QLabel#PageLabel
{
	color: ${Active.Text}; /* #335777; */
}

QWidget[ImtTopFrame=true] 
{
/*
	background: ${Active.Background};

	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(227,227,229), stop: 0.9 rgb(212,212,214), stop: 0.97 rgb(212,212,214), stop: 1.0 rgb(190,190,192));
	border-bottom: 1px solid rgb(180,180,182);
*/
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 ${ImagingToolsGradient1}, stop: 0.9 ${ImagingToolsGradient2}, stop: 0.97 ${ImagingToolsGradient2}, stop: 1.0 ${ImagingToolsGradient3});
	border-bottom: 1px solid ${ImagingToolsGradient4};

}

QLabel[Header=true]
{
	color: ${Active.BlueLabel}; /* #88b8e3; */
}

QToolButton 
{
	color: ${Active.Text}; /* #335777; */
}

QToolButton#windowTitle
{
	background: ${Active.BackgroundSelected}; /* white; */
	border: 1px solid  ${Active.Button}; /* lightGray; */
}

QToolButton#PageIconToolButton 
{
	background-color: transparent;
	border: 0px solid transparent;
}

QToolButton#PageIconToolButton:hover
{
	background-color: transparent;
	border: 0px solid transparent;
}

QToolBar[ImtToolBar=true]::separator
{
	background: transparent;
}

QTableView[ImtMenu=true]
{
	color: palette(background);
	background: palette(background);
}

QAbstractItemView::item::selected
{
	color: ${Active.Text}; /* #335777; */
	background-color: ${Active.ItemSelected}; /* #e3eefa; */
}

QAbstractItemView::branch::selected
{
	background: ${Active.ItemSelected}; /* #e3eefa; */
}

QComboBox::item:selected 
{
 	color: ${Active.BackgroundSelected}; /* white; */
}

QHeaderView::section
{
	background-color: ${Active.HeaderSection}; /*  white; */
	border-bottom: 1px solid ${Active.HeaderBorder}; /*  #dfdfdf; */
}


QTabBar
{
	background-color: ${Active.TabBackground}; /* rgb(230,230,232);  Background */
}

QTabBar::tab[CollectionView=true]
{
	background-color: ${Active.TabBackground}; /* rgb(230,230,232); Background */
}

QTabBar::tab:selected[CollectionView=true]
{
	color: ${Active.TextSelected}; /* #253f57; */
	background-color: ${Active.BackgroundSelected}; /* white; */
}

QTabBar::tab::top:selected[CollectionView=true]
{
	border-bottom: 2px solid ${Active.TabBorderSelected}; /* #eb6225; */
}

QTabBar::tab::left:selected[CollectionView=true]
{
	border-left: 2px solid ${Active.TabBorderSelected}; /* #eb6225; */
}

QTabBar::tab::right:selected[CollectionView=true]
{
	border-left: 2px solid ${Active.TabBorderSelected}; /* #eb6225; */
}

QTabBar::tab::bottom:selected[CollectionView=true]
{
	border-bottom: 2px solid ${Active.TabBorderSelected2}; /* #f15a17; */
}

