QWidget
{
	color: ${Active.Text}; 
}

QWidget::item:disabled
{
	color: ${Inactive.Text};
}

QWidget:disabled
{
	color: ${Inactive.Text};
}

QSplashScreen > QWidget
{
	color: ${Active.BrightText};
	background: transparent;
}

QSplashScreen > QWidget > QLabel 
{
	color: ${Active.Yellowlabel}; 
	background: transparent;
}

QWidget#MainVersionTitleLabel, QWidget#MainVersionLabel
{
	color: ${Active.BrightText}; 
}

QSplashScreen > QWidget#CopyrightLabel
{
	color: ${Active.Yellowlabel}; 
}


QWidget#BottomFrame
{
	background: ${Active.Background}; 
}

QWidget#RightFrame 
{
	border-left: 1px solid ${Active.Text}; 
}

QWidget#StatusFrame
{
	border-bottom: 1px solid ${Active.Text}; 
}

QLabel#PageLabel
{
	color: ${Active.Text}; 
}

QWidget[ImtTopFrame=true] 
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 ${ImagingToolsGradient1}, stop: 0.9 ${ImagingToolsGradient2}, stop: 0.97 ${ImagingToolsGradient2}, stop: 1.0 ${ImagingToolsGradient3});
	border-bottom: 1px solid ${ImagingToolsGradient4};
}

QLabel[Header=true]
{
	color: ${Active.BlueLabel}; 
}

QToolButton
{
	color: ${Active.Text};
}


QToolButton:checked
{
	background-color: ${Active.Base};
}

QToolButton#windowTitle
{
	background: ${Active.BackgroundSelected}; 
	border: 1px solid  ${Active.Button}; 
}

QToolButton#PageIconToolButton
{
	background-color: transparent;
	border: 0px solid transparent;
}

QToolButton#PageIconToolButton:hover
{
	background-color: transparent;
	border: 0px solid transparent;
}

QToolBar[ImtToolBar=true]::separator
{
	background: transparent;
}


QAbstractItemView::item::selected
{
	color: ${Active.Text};
	background-color: ${Active.ItemSelected};
}

QAbstractItemView::branch::selected
{
	background: ${Active.ItemSelected};
}

QAbstractItemView::branch:has-children:!has-siblings:closed,
QAbstractItemView::branch:closed:has-children:has-siblings {
	border-image: none;
	image: url(:/${Scheme}/Icons/ArrowRight);
}

QAbstractItemView::branch:open:has-children:!has-siblings,
QAbstractItemView::branch:open:has-children:has-siblings {
	border-image: none;
	image: url(:/${Scheme}/Icons/ArrowDown);
}


QTableView[ImtMenu=true] {
	color: palette(background);
	background: palette(background);
}


QComboBox::item:selected 
{
 	color: ${Active.BackgroundSelected};
}

QHeaderView::section
{
	background-color: ${Active.HeaderSection}; 
	border-bottom: 1px solid ${Active.HeaderBorder}; 
}

QTabBar
{
	background-color: ${Active.TabBackground}; 
}

QTabBar::tab[CollectionView=true]
{
	background-color: ${Active.TabBackground}; 
}

QTabBar::tab:selected[CollectionView=true]
{
	color: ${Active.TextSelected}; 
	background-color: ${Active.BackgroundSelected}; 
}

QTabBar::tab::top:selected[CollectionView=true]
{
	border-bottom: 2px solid ${Active.TabBorderSelected}; 
}

QTabBar::tab::left:selected[CollectionView=true]
{
	border-left: 2px solid ${Active.TabBorderSelected}; 
}

QTabBar::tab::right:selected[CollectionView=true]
{
	border-left: 2px solid ${Active.TabBorderSelected}; 
}

QTabBar::tab::bottom:selected[CollectionView=true]
{
	border-bottom: 2px solid ${Active.TabBorderSelected2}; 
}


QWidget#DocumentFrame {
	background-color: ${Active.Background2};
}


