QWidget#PageTree
{
	background-color: ${ActiveBackground};
}

QWidget#BottomPageTree
{
	background-color: ${ActiveBackground};
}

QTreeView#PageTree::item::hover
{
	background-color: ${NormalLight};
}

QTreeView#BottomPageTree::item::hover
{
background-color: ${NormalLight};
}

QPushButton#pushTop, QPushButton#pushBottom
{
	border: 1px solid #9d9d9d;
	background: #e0e0e0;
}

QPushButton#pushTop::hover, QPushButton#pushBottom::hover
{
	background: white;
}
