QWidget#PageTree
{
	background-color: ${Active.Background};
}

QWidget#BottomPageTree
{
	background-color: ${Active.Background};
}

QTreeView
{
	font-size: 14px;
}

QTreeView#PageTree::item::hover
{
	background-color: ${Active.Hover};
}

QTreeView#BottomPageTree::item::hover
{
	background-color: ${Active.Hover};
}

QPushButton#pushTop, QPushButton#pushBottom
{
	border: 1px solid ${Active.ButtonBorder};
	background: ${Active.Background};
}

QPushButton#pushTop::hover, QPushButton#pushBottom::hover
{
	background: ${Active.Hover};
}
