QTreeWidget#SubPages
{
        background: ${Active.Background};
	font-weight: bold;
	text-align: left;
}

QTreeWidget#SubPages::item
{
	border: 0px none transparent;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

QTreeWidget#SubPages::item:first
{
	padding-left: 5px;
}

QTreeWidget#SubPages::item:last
{
	padding-right: 15px;
}

QTreeWidget#SubPages::item:selected
{
        background-color: ${Active.Base};
        color: ${Current.Base};
}

QTreeWidget#SubPages::item:!selected:hover
{
        background-color: ${Active.Light};
}

QTreeWidget#SubPages::item:first:selected
{
        border-top: 1px ${Active.Midlight};
}

