QWidget
{
	color: #ffffff;
}

QWidget::item:disabled
{
	color: palette(disabled);
}

QWidget:disabled 
{
	color: palette(disabled);
}

QSplashScreen > QWidget
{
	color: #ffffff;
	background: transparent;
}

QSplashScreen > QWidget > QLabel
{
	color: yellow;
	background: transparent;
}

QWidget#MainVersionTitleLabel, QWidget#MainVersionLabel
{
	color: #ffffff;
}

QSplashScreen > QWidget#CopyrightLabel
{
	color: #ffffff;
}

QWidget#BottomFrame
{
	background: palette(dark);
}

QWidget#RightFrame
{
	 border-left: 1px solid /*#335777*/; 
}

QWidget#StatusFrame
{
	border-bottom: 1px solid /*#335777*/;
}

QLabel#PageLabel
{
	/*color: #335777;*/
}

QWidget[ImtTopFrame=true]
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(50,50,52), stop: 0.9 rgb(35, 35, 37), stop: 0.97 rgb(35,35,37), stop: 1.0 rgb(35,35,37));
	border-bottom: 1px solid rgb(25,25,27);
}

QLabel[Header=true]
{
	/*color: #88b8e3;*/
}

QToolButton
{
	/*color: #335777;*/
}

QToolButton#windowTitle
{
	background: palette(window);
	border: 1px solid palette(mid);
}

QToolButton#PageIconToolButton 
{
	background-color: transparent;
	border: 0px solid transparent;
}

QToolButton#PageIconToolButton:hover
{
	background-color: transparent;
	border: 0px solid transparent;
}

QToolBar[ImtToolBar=true]::separator
{
	background: transparent;
}

QTableView[ImtMenu=true]
{
	color: palette(midlight);

	background: palette(base);
}


QAbstractItemView::item::selected
{
	background-color: rgba(160, 80, 40, 128);
}

QAbstractItemView::branch::selected
{
	background-color: rgba(160, 80, 40, 128);
}

QComboBox::item:selected
{
	color: white;
}

QHeaderView::section
{
	border-bottom: 1px solid palette(mid);
}

QTabBar
{
	background-color: palette(base);
}


QTabBar::tab[CollectionView=true]
{
	color: rgb(128,128,128);
	
	background-color: palette(base);
}

QTabBar::tab:selected[CollectionView=true]
{
	color: rgb(235, 98, 37, 200);
}

QTabBar::tab::top:selected[CollectionView=true]
{
	border-bottom: 2px solid rgba(235, 98, 37, 128);
}

QTabBar::tab::left:selected[CollectionView=true]
{
	border-left: 2px solid rgba(235, 98, 37, 128);
}

QTabBar::tab::right:selected[CollectionView=true]
{
	border-left: 2px solid rgba(235, 98, 37, 128);
}

QTabBar::tab::bottom:selected[CollectionView=true]
{
	border-bottom: 2px solid rgba(235, 98, 37, 128);
}


