QWidget
{
	color: #335777;
}

QWidget::item:disabled
{
	color: palette(disabled);
}

QWidget:disabled
{
	color: palette(disabled);
}

QSplashScreen > QWidget
{
	color: white;
	background: transparent;
}

QSplashScreen > QWidget > QLabel 
{
	color: yellow;
	background: transparent;
}

QWidget#MainVersionTitleLabel, QWidget#MainVersionLabel
{
	color: white;
}

QSplashScreen > QWidget#CopyrightLabel
{
	color: yellow;
}

QWidget#BottomFrame
{
	background: rgb(230,230,232);
}

QWidget#RightFrame 
{
	border-left: 1px solid #335777;
}

QWidget#StatusFrame 
{
	border-bottom: 1px solid #335777;
}

QLabel#PageLabel
{
	color: #335777;
}

QWidget[ImtTopFrame=true] 
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(227,227,229), stop: 0.9 rgb(212,212,214), stop: 0.97 rgb(212,212,214), stop: 1.0 rgb(190,190,192));
	border-bottom: 1px solid rgb(180,180,182);
}

QLabel[Header=true]
{
	color: #88b8e3;
}

QToolButton 
{
	color: #335777;
}

QToolButton#windowTitle
{
	background: white;
	border: 1px solid lightGray;
}

QToolButton#PageIconToolButton 
{
	background-color: transparent;
	border: 0px solid transparent;
}

QToolButton#PageIconToolButton:hover
{
	background-color: transparent;
	border: 0px solid transparent;
}

QToolBar[ImtToolBar=true]::separator
{
	background: transparent;
}

QTableView[ImtMenu=true]
{
	color: palette(background);
	background: palette(background);
}

QAbstractItemView::item::selected
{
	color: #335777;
	background-color: #e3eefa;
}

QAbstractItemView::branch::selected
{
	background: #e3eefa;
}

QComboBox::item:selected 
{
 	color: white;
}

QHeaderView::section
{
	background-color: white;
	border-bottom: 1px solid #dfdfdf;
}

QTabBar
{
	background-color: rgb(230,230,232);
}

QTabBar::tab[CollectionView=true]
{
	background-color: rgb(230,230,232);
}

QTabBar::tab:selected[CollectionView=true]
{
	color: #253f57;
	background-color: white;
}

QTabBar::tab::top:selected[CollectionView=true]
{
	border-bottom: 2px solid #eb6225;
}

QTabBar::tab::left:selected[CollectionView=true]
{
	border-left: 2px solid #eb6225;
}

QTabBar::tab::right:selected[CollectionView=true]
{
	border-left: 2px solid #eb6225;
}

QTabBar::tab::bottom:selected[CollectionView=true]
{
	border-bottom: 2px solid #f15a17;
}
