QWidget
{
	background: ${Active.Background}; 	
	color: ${Active.Foreground};
}

QWidget::item:disabled
{
	color: ${Active.Foreground};
}

QWidget:disabled 
{
	color: ${Active.Foreground};
}

QSplashScreen > QWidget
{
	color: ${Active.Foreground};
	background: transparent;
}

QSplashScreen > QWidget > QLabel
{
	color: ${Active.YellowLabel};
	background: transparent;
}

QWidget#MainVersionTitleLabel, QWidget#MainVersionLabel
{
	color: ${Active.Foreground};
}

QSplashScreen > QWidget#CopyrightLabel
{
	color: ${Active.Foreground};
}

QWidget#BottomFrame
{
	background: ${Active.Background};
}

QWidget#RightFrame
{
	 border-left: 1px solid ${Active.Text};  
}

QWidget#StatusFrame
{
	border-bottom: 1px solid ${Active.Text}; 
}

QLabel#PageLabel
{
	color: ${Active.Text}; /*color: #335777;*/
}

QWidget[ImtTopFrame=true]
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(50,50,52), stop: 0.9 rgb(35, 35, 37), stop: 0.97 rgb(35,35,37), stop: 1.0 rgb(35,35,37));
	border-bottom: 1px solid rgb(25,25,27);
}

QLabel[Header=true]
{
	color: ${Active.BlueLabel};
}

QToolButton
{
	color: ${Active.Text};
}

QToolButton#windowTitle
{
	background: ${Active.Background};
	border: 1px solid ${Active.Mid};
}

QToolButton#PageIconToolButton 
{
	background-color: transparent;
	border: 0px solid transparent;
}

QToolButton#PageIconToolButton:hover
{
	background-color: transparent;
	border: 0px solid transparent;
}

QToolBar[ImtToolBar=true]::separator
{
	background: transparent;
}

QTableView[ImtMenu=true]
{
	color: ${Active.Midlight};

	background: ${Active.Base};
}


QAbstractItemView::item::selected
{
	background-color: color: ${Active.Background};  /* rgba(160, 80, 40, 128); */
}

QAbstractItemView::branch::selected
{
	background-color: ${Active.Background}; /* rgba(160, 80, 40, 128); */
}

QComboBox::item:selected
{
	color: ${Active.Selected};
}

QHeaderView::section
{
	border-bottom: 1px solid ${Active.Mid}; /*palette(mid); */
}

QTabBar
{
	background-color: ${Active.Base};
}


QTabBar::tab[CollectionView=true]
{
	color: ${Active.Button}; /* color: rgb(128,128,128); */
	
	background-color: ${Active.Base};
}

QTabBar::tab:selected[CollectionView=true]
{
	color: ${Active.Text}; /* color: rgb(235, 98, 37, 200); */
}

QTabBar::tab::top:selected[CollectionView=true]
{
	border-bottom: 2px solid ${Active.Link}; /* rgba(235, 98, 37, 128); */
}

QTabBar::tab::left:selected[CollectionView=true]
{
	border-left: 2px solid rgba(235, 98, 37, 128);
}

QTabBar::tab::right:selected[CollectionView=true]
{
	border-left: 2px solid ${Active.Link}; /* rgba(235, 98, 37, 128); */
}

QTabBar::tab::bottom:selected[CollectionView=true]
{
	border-bottom: 2px solid ${Active.Link}; /* rgba(235, 98, 37, 128); */
}

QFrame[frameShape="4"],
QFrame[frameShape="5"]
{
    border: none;
    background: ${Active.Dark};
}
