QWidget#PageTree
{
	background-color: palette(base);
}

QWidget#BottomPageTree
{
	background-color: palette(base);
}

QTreeView#PageTree::item::hover
{
	background-color: rgb(0, 0, 0);
}

QTreeView#BottomPageTree::item::hover
{
background-color: rgb(0, 0, 0);
}

QPushButton#pushTop, QPushButton#pushBottom
{
	border: 1px solid #9d9d9d;
	background: #e0e0e0;
}

QPushButton#pushTop::hover, QPushButton#pushBottom::hover
{
	background: white
}
