QTreeWidget#SubPages
{
	background: palette(window);
	font-weight: bold;
	text-align: left;
}

QTreeWidget#SubPages::item
{
	border: 0px none transparent;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

QTreeWidget#SubPages::item:first
{
	padding-left: 5px;
}

QTreeWidget#SubPages::item:last
{
	padding-right: 15px;
}

QTreeWidget#SubPages::item:selected
{
	background-color: palette(base);
	color: #ffffff;
}

QTreeWidget#SubPages::item:!selected:hover
{
	background-color: palette(light);
}

QTreeWidget#SubPages::item:first:selected
{
	border-top: 1px palette(midlight);
}
