QWidget
{
	font-family: "Verdana";
	color: #ffffff;
}

QWidget::item:disabled
{
	color: palette(disabled);
}

QWidget:disabled 
{
	color: palette(disabled);
}


QSplashScreen > QWidget
{
	color: #ffffff;
	background: transparent;
}

QSplashScreen > QWidget > QLabel
{
	color: yellow;
	background: transparent;
}

QWidget#MainVersionTitleLabel, QWidget#MainVersionLabel
{
	color: #ffffff;
}


QSplashScreen > QWidget#CopyrightLabel
{
	color: #ffffff;
}


QWidget#PageTree
{
	background-color: palette(window);
}


QWidget#ResultFrame
{
	font-size: 24px;
}


QWidget[ImtTopFrame=true]
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(107,107,109), stop: 0.9 rgb(92,92,94), stop: 0.97 rgb(92,92,94), stop: 1.0 rgb(70,70,72));
	border-bottom: 1px solid rgb(60,60,60);
}

QWidget#EditPanel
{
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
}

QWidget#LoadWorkflowButton
{
	text-align: left;
}


QWidget#MessageFrame
{
	background-color: lightYellow;
}

QWidget#ErrorsCounterFrame, QWidget#NokCounterFrame, QWidget#OkCounterFrame,
QWidget#TotalCounterFrame, QWidget#WarningsCounterFrame
{
	background: palette(dark);
}


QLabel[ProductionApplicationName=true]
{
	font-size: 16pt;
}


QLabel[ProductionTime=true]
{
	font-size: 16pt;
}


QLabel[Header=true]
{
	font-size: 12pt;
}


QLabel#PageLabel, QLabel#ManualModePageLabel
{
	font-size: 12pt;
	font-weight: bold;
}


QLineEdit, QPlainTextEdit
{
	height: 1.3em;
	font-size: 10pt;
}


QToolButton#windowTitle
{
	background: palette(window);
	min-width: 3em;
	max-width: 3em;
	border-radius: 3px;
	border: 1px solid palette(mid);
}

QToolButton#PageIconToolButton 
{
	background-color: transparent;
	border: 0px solid transparent;
	padding: 0px;
}


QToolButton#PageIconToolButton:hover
{
	background-color: transparent;
	border: 0px solid transparent;
	padding: 0px;
}


QToolBar[ImtToolBar=true]::separator
{
	background: transparent;
	width: 32px;
}

QToolBar[ImtToolBar=true]
{
	qproperty-iconSize: 24px;
}


QTableView[ImtMenu=true]
{
	color: palette(midlight);
	background: palette(mid);
	font-weight: bold;
	text-align: center;
}


QTableView[ImtMenu=true]::item
{
	font-weight: bold;
	text-align: center;
}

/*
	Tab simulation using tree widget
*/
QTreeWidget[TabSimulation=true]
{
	background: palette(window);
	font-weight: bold;
	text-align: left;
}

QTreeWidget[TabSimulation=true]::item
{
	border: 0px none transparent;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

QTreeWidget[TabSimulation=true]::item:first
{
	padding-left: 5px;
}

QTreeWidget[TabSimulation=true]::item:last
{
	padding-right: 15px;
}

QTreeWidget[TabSimulation=true]::item:selected
{
	background-color: palette(base);
	color: #ffffff;
}

QTreeWidget[TabSimulation=true]::item:!selected:hover
{
	background-color: palette(light);
}

QTreeWidget[TabSimulation=true]::item:first:selected
{
	border-top: 1px palette(midlight);
}


QAbstractItemView
{
	outline: 0;
}

QAbstractItemView[NoFrame="true"]
{
	border: none;
}

QAbstractItemView::item
{
	height: 25px;
}

QAbstractItemView::item::selected
{
	background-color: rgb(160, 80, 40);
}

QAbstractItemView::branch::selected
{
	background-color: rgb(160, 80, 40);
}


QTreeView[ItemView=true]::item
{
	height: 30px;
}


QComboBox::item:selected
{
	color: white;
}


QHeaderView
{
	border: none;
	padding: 0px;
}

QHeaderView::section
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px;
	border-bottom: 1px solid palette(mid);
	border-left: none;
	border-right: none;
	border-top: none;
	font-weight: bold;
}


QTabBar
{
	background-color: rgb(120,120,122);
}


QTabBar::tab[CollectionView=true]
{
	min-height: 30px;
	background-color: rgb(120,120,122);
	min-width: 50ex;
	padding: 2px;
}

QTabBar::tab:selected[CollectionView=true]
{
	color: rgb(255,255,255);
	background-color:#eb6225;
}

QTabBar::tab::top:selected[CollectionView=true]
{
	border-bottom: 2px solid #eb6225;
}

QTabBar::tab::left:selected[CollectionView=true]
{
	border-left: 2px solid #eb6225;
}


QTabBar::tab::right:selected[CollectionView=true]
{
	border-left: 2px solid #eb6225;
}

QTabBar::tab::bottom:selected[CollectionView=true]
{
	border-bottom: 2px solid #eb6225;
}


QMenu[CommandsMenu=true]
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}


