QWidget
{
    color: #335777;
}

QWidget::item:disabled
{
	color: palette(disabled);
}

QWidget:disabled
{
	color: palette(disabled);
}


QSplashScreen > QWidget
{
	color: white;
	background: transparent;
}

QSplashScreen > QWidget > QLabel 
{

	color: yellow;

	background: transparent;

}

QWidget#MainVersionTitleLabel, QWidget#MainVersionLabel
{
    color: white;
}


QSplashScreen > QWidget#CopyrightLabel
{
    color: yellow;
}

QWidget#PageTree 
{
    /*    background-image: url(:/Style/ImtLight/Images/PanelBackground);
    background-repeat: repeat-xy;
    background-color: rgb(230,230,232);*/

    background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 rgb(227,227,229), stop: 0.9 rgb(212,212,214), stop: 0.97 rgb(212,212,214), stop: 1.0 rgb(190,190,192));
    border-right: 1px solid rgb(180,180,182);
}

QWidget#BottomFrame
{
	background: rgb(230,230,232);
}

QWidget#RightFrame 
{
    border-left: 1px solid #335777;
}

QWidget#ResultFrame
{
    font-size: 24px;
}

QWidget#StatusFrame 
{
    border-bottom: 1px solid #335777;
}

QWidget[ImtTopFrame=true] 
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(227,227,229), stop: 0.9 rgb(212,212,214), stop: 0.97 rgb(212,212,214), stop: 1.0 rgb(190,190,192));
    border-bottom: 1px solid rgb(180,180,182);
}

QWidget#LoadWorkflowButton
{
    text-align: left;
}

QWidget#MessageFrame
{
    background-color: lightYellow;
}

QWidget#ErrorsCounterFrame, QWidget#NokCounterFrame, QWidget#OkCounterFrame, 
QWidget#TotalCounterFrame, QWidget#WarningsCounterFrame 
{
    background: #ffffff;
}

QLabel[Header=true]
{
    font-size: 12pt;
    color: #88b8e3;
}

QLabel#PageLabel, QLabel#ManualModePageLabel
{
	color: #335777;
	font-size: 12pt;
	font-weight: bold;
	font-family: "Segoe UI";
}

QLineEdit, QPlainTextEdit 
{
    height: 1.3em;
    font-size: 10pt;
}

QToolButton 
{
    color: #335777;
}

QToolButton#windowTitle
{
    background: white;
    min-width: 3em;
    max-width: 3em;
    border-radius: 3px;
    border: 1px solid lightGray;
}

QToolButton#PageIconToolButton 
{
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0px;
}
    

QToolButton#PageIconToolButton:hover
{
	background-color: transparent; border: 0px solid transparent;
	padding: 0px;
}

QToolBar[ImtToolBar=true]::separator
{
	background: transparent;
	width: 32px;
}

QPushButton#LoadWorkflowButton
{
    text-align: left;
}

QToolBar[ImtToolBar=true]
{
	qproperty-iconSize: 32px;
}

QTableView[ImtMenu=true]
{
	color: qpalette(background);
	background: qpalette(background);
	font-weight: bold;
	text-align: center;
}

QTableView[ImtMenu=true]::item
{
	font-weight: bold;
	text-align: center;
}

/*
	Tab simulation using tree widget
*/
QTreeWidget[TabSimulation=true]
{
	background: rgb(230,230,230);
	font-weight: bold;
	text-align: left;
}

QTreeWidget[TabSimulation=true]::item 
{
    border: 0px none transparent;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

QTreeWidget[TabSimulation=true]::item:first
{
    padding-left: 5px;
}

QTreeWidget[TabSimulation=true]::item:last
{
    padding-right: 15px;
}

QTreeWidget[TabSimulation=true]::item:selected 
{
    background-color: rgb(255, 255, 255);
	color: #335777;
}

QTreeWidget[TabSimulation=true]::item:!selected:hover 
{
	background-color: #dedede;
}

QTreeWidget[TabSimulation=true]::item:first:selected
{
    border-top: 1px white;
}

QTreeView[ItemView=true]::item
{
	color: #335777;
	padding-top: 0.9em;
	padding-bottom: 0.9em;
}

QComboBox::item:selected 
{
 	color: white;
}

QAbstractItemView 
{
    outline: 0;
}

QAbstractItemView[NoFrame="true"]
{
	border: none;
}

QHeaderView
{
	border: none;
	padding: 0px;
}

QHeaderView::section
{
	padding-top:5px;
	padding-bottom:5px;
	background-color: white;
	padding-left: 4px;
	border-bottom: 1px solid #dfdfdf;
	border-left: none;
	border-right: none;
	border-top: none;
	font-weight: bold;
}

QTabBar::tab
{
    background: transparent;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected
{
    background: white;
}

QTabBar::tab::top
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QTabBar::tab::top:!selected
{
    margin-bottom: 2px; 
}

QTabBar::tab::left
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

QTabBar::tab::left:!selected
{
    margin-right: 2px; 
}

QTabBar::tab::right
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

QTabBar::tab::right:!selected
{
    margin-left: 2px; 
}

QTabBar::tab::bottom
{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

QTabBar::tab::bottom:!selected
{
    margin-top: 2px; 
}


