QWidget
{
	color: #335777;
}

QWidget::item:disabled
{
	color: palette(disabled);
}


QWidget:disabled
{
	color: palette(disabled);
}


QToolBar[ImtToolBar=true]::separator
{
	background: transparent;
	width: 32px;
}

QWidget[ImtTopFrame=true] > QWidget:disabled
{
	color: palette(disabled);
}


QToolBar[ImtToolBar=true]
{
	qproperty-iconSize: 32px;
}


QWidget[ImtTopFrame=true]
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 rgb(227,227,229), stop: 0.9 rgb(212,212,214),
                                 stop: 0.97 rgb(212,212,214), stop: 1.0 rgb(190,190,192));
	border-bottom: 1px solid  rgb(180,180,182);
}


QWidget#PageTree
{
	background: rgb(230,230,230);
}


QWidget#BottomFrame
{
	background: rgb(230,230,230);	
}

QTableView[ImtMenu=true]
{
	color: qpalette(background);
	background: qpalette(background);
	font-weight: bold;
	text-align: center;
}

QTableView[ImtMenu=true]::item
{
	font-weight: bold;
	text-align: center;
}

/*
	Tab simulation using tree widget
*/
QTreeWidget[TabSimulation=true]
{
	background: rgb(230,230,230);
	font-weight: bold;
	text-align: left;
}


QTreeWidget[TabSimulation=true]::item 
{
    border: 0px none transparent;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

QTreeWidget[TabSimulation=true]::item:first
{
    padding-left: 5px;
}


QTreeWidget[TabSimulation=true]::item:last
{
    padding-right: 15px;
}

QTreeWidget[TabSimulation=true]::item:selected 
{
    background-color: rgb(255, 255, 255);
	color: #335777;
}

QTreeWidget[TabSimulation=true]::item:!selected:hover 
{
	background-color: #dedede;
}



QTreeWidget[TabSimulation=true]::item:first:selected
{
    border-top: 1px white;
}



QAbstractItemView[TabSimulation=true]
{
    outline: 0;
}

QTabWidget::pane { /* The tab widget frame */
    /*  border-top: 2px solid #C2C7CB;*/
  }

QTabWidget::tab-bar {
    left: 5px; /* move to the right by 5px */
}

QTabBar::tab {
    background: transparent;
    /* border-bottom-color: #C2C7CB;  same as the pane color */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected {
    background: white;
}

  QTabBar::tab:!selected {
    margin-top: 2px; /* make non-selected tabs look smaller */
  }

