QTreeWidget#TypeList
{
	background: rgb(230,230,230);
	font-weight: bold;
	text-align: left;
}

QTreeWidget#TypeList::item 
{
	border: 0px none transparent;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

QTreeWidget#TypeList::item:first
{
	padding-left: 5px;
}

QTreeWidget#TypeList::item:last
{
	padding-right: 15px;
}

QTreeWidget#TypeList::item:selected
{
	background-color: rgb(255, 255, 255);
	color: #335777;
}

QTreeWidget#TypeList::item:!selected:hover
{
	background-color: #dedede;
}

QTreeWidget#TypeList::item:first:selected
{
	border-top: 1px white;
}